<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>VCRGLOVE_BACKEND_API_KEY</key>
	<string>REPLACE_WITH_UKE_API_KEY</string>
	<key>VCRGLOVE_BACKEND_URL</key>
	<string>https://vcr.uke.de/api</string>
</dict>
</plist>
